<div *ngIf="project" class="marginLeft">

  <h1>{{project.title | uppercase}}</h1>
  <mat-divider></mat-divider>

  <mat-form-field>
    <mat-label>Project description:</mat-label>
    <textarea [(ngModel)]="project.description" placeholder="description" matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="10"
              cdkAutosizeMaxRows="25"
    ></textarea>
    <button class="save" (click)="saveDescription()" mat-button color="primary">Save</button>
  </mat-form-field>
  <br>
  <h1>TASKS:</h1>
  <div>
    <label>New Task:
      <input #inboxMsg size="60" minlength="3" maxlength="100"/>
    </label>

    <button mat-button color="primary" (click)="addTask(inboxMsg.value); inboxMsg.value=''">
      add
    </button>
  </div>
  <mat-divider></mat-divider>

  <ul class="inbox">
    <li *ngFor="let msg of tasks">
      <a routerLink="/tasks/{{msg.id}}">
        <span class="badge">{{msg.id}}</span>
        {{msg.title| slice:0:50}}
      </a>

    </li>
  </ul>
  <br>
  <br>
  <br>
  <br>


  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Misc:
        </mat-panel-title>
        <mat-panel-description>
          This is misc
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="small-text">
        <p>project id: {{project.id}}
        <p>created at: {{project.createdAt | date: 'y-M-d, h:mm:ss'}}
        <p>updated at: {{project.updatedAt | date: 'y-M-d, h:mm:ss' }}
      </div>

      <mat-divider></mat-divider>

      <h2>Edit</h2>
      <div>
        <p>
          <label>name:
            <input [(ngModel)]="project.title" placeholder="title"/>
          </label>
        </p>
      </div>
      <button (click)="goBack()">go back</button>
      <button (click)="saveTitle()">save title</button>

      <mat-divider></mat-divider>
      <h4>Delete project with all tasks inside:</h4>
      <button class="delete" title="delete task"
              (click)="deleteProject(project)">x
      </button>

    </mat-expansion-panel>
  </mat-accordion>

</div>




