<div class="marginLeft">
<div *ngIf="task">
  <h1>Task:</h1>
<h2>{{task.text | uppercase}} Details</h2>

<mat-divider></mat-divider>
  <div class="small-text"><p>task id: {{task.id}}
    flagged: {{task.flagged}}
    active: {{task.active}}
    created at: {{task.createdAt}}
    updated at: {{task.updatedAt}}</p></div>


<mat-divider></mat-divider>

  <div>
    <label>text:
      <input [(ngModel)]="task.text" placeholder="text"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
  <mat-divider></mat-divider>
  <h4>Delete task:</h4>
  <button class="delete" title="delete task"
          (click)="deleteTask(task)">x</button>

</div>
</div>
