<div *ngIf="task" class="marginLeft">
  <button mat-button color="primary" (click)="goBack()"><-</button>
  <div>
    <h1>{{task.title| uppercase | slice:0:50 }}</h1>

    <mat-form-field>
      <mat-label>Task description...</mat-label>
      <textarea [(ngModel)]="task.description" placeholder="description" matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="25"
      ></textarea>
    </mat-form-field>

  </div>

  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList1 aria-label="Tags">
      <mat-chip *ngFor="let fruit of task.tags"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeTag(fruit)">
        {{fruit}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Tags..."
             #fruitInput
             [formControl]="fruitCtrl"
             [matAutocomplete]="auto"
             [matChipInputFor]="chipList1"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             (matChipInputTokenEnd)="addT($event)">
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of pTags " [value]="pTags">
        {{fruit.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button class="save" (click)="updateTask()" mat-button color="primary">update task</button>


  <mat-divider></mat-divider>
  <br>
  <br>
  <br>
  <br>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Misc:
        </mat-panel-title>
        <mat-panel-description>
          This is misc
        </mat-panel-description>
      </mat-expansion-panel-header>


      <div class="small-text"><p>
        <p>task id:{{task.id}}
        <p>tags: {{task.tags}}
        <p>flagged: {{task.flagged}}
        <p>active: {{task.active}}
        <p>created at: {{task.createdAt | date: 'y-M-d, HH:mm:ss'}}
        <p>created at: {{task.updatedAt | date: 'y-M-d, HH:mm:ss'}}
      </div>

      <mat-divider></mat-divider>

      <h2>Edit Task title</h2>
      <div>
        <p>
          <label>task title:
            <input [(ngModel)]="task.title" placeholder="title"/>
          </label>
        </p>
      </div>
      <button class="save" (click)="updateTask()" mat-button color="primary">update task</button>
      <mat-divider></mat-divider>

      <h4>Delete task:</h4>
      <button class="delete" title="delete task"
              (click)="deleteTask(task)">x
      </button>


    </mat-expansion-panel>
  </mat-accordion>
</div>
