<p>TASK WORKS!</p>
<p>todo edit task</p>
<mat-divider></mat-divider>

<div *ngIf="task">
  <h1>Task:</h1>
<h2>{{task.text | uppercase}} Details</h2>

<mat-divider></mat-divider>
<h3>task id: {{task.id}}</h3>
<h3>flagged: {{task.flagged}}</h3>
<h3>active: {{task.active}}</h3>
<h3>created at: {{task.createdAt}}</h3>
<h3>updated at: {{task.updatedAt}}</h3>

<mat-divider></mat-divider>

  <div>
    <label>text:
      <input [(ngModel)]="task.text" placeholder="text"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>

  <mat-divider></mat-divider>
  <h4>Delete task:</h4>
  <button class="delete" title="delete task"
          (click)="deleteTask(task)">x</button>

</div>
