<style>
</style>


<mat-toolbar color="primary" class="navbar" role="banner">
  <span>{{title}}</span>
  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>User login</mat-icon>
  </button>
</mat-toolbar>


<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="example-sidenav">
    <p><a routerLink="/home">
      <img alt="home" src="assets/Home.png" width="50" height="50">
    </a></p>
    <p><a routerLink="/inbox">
      <img alt="inbox" src="assets/Inbox.png" width="50" height="50">
    </a></p>
    <p><a routerLink="/worktime">
      <img alt="worktime" src="assets/Worktime.png" width="50" height="50">
    </a></p>
    <p><a routerLink="/recovery">
      <img alt="recovery" src="assets/Recovery.png" width="50" height="50">
    </a></p>
    <p><a routerLink="/projects">
      <img alt="projects" src="assets/Projects.png" width="50" height="50">
    </a></p>
    <p><a routerLink="/reference">
      <img alt="reference" src="assets/Reference.png" width="50" height="50">
    </a></p>
    <p><a routerLink="/tags">
      <img alt="tags" src="assets/Tags.png" width="50" height="50">
    </a></p>
    <p><a routerLink="/calendar">
      <img alt="calendar" src="assets/Calendar.png" width="50" height="50">
    </a></p>
    <p><a routerLink="/dailylog">
      <img alt="dailylog" src="assets/Dailylog.png" width="50" height="50">
    </a></p>
    <p><a routerLink="/wiki">
      <img alt="wiki" src="assets/Wiki.png" width="50" height="50">
    </a></p>


  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
