<div class="marginLeft">

  <p>
    <mat-divider></mat-divider>

    <label>Show tasks by tag:
      <input #tagInput size="50" minlength="2" maxlength="50"/>
    </label>
    <button mat-button color="primary" (click)="showTag(tagInput.value); tagInput.value=''">
      Show!
    </button>
  </p>

  <mat-divider></mat-divider>

  <div class="left-panel">
    <mat-chip-list *ngFor="let pTag of pTags" aria-label="Fish selection">
      <mat-chip (click)="showTasksByTag(pTag.name)">{{pTag.name}} </mat-chip>
    </mat-chip-list>
  </div>


  <div class="right-panel">
    <ul class="inbox">
      <li *ngFor="let task of tasksByTag">
        <a routerLink="/tasks/{{task.id}}">
          <span class="badge">{{task.id}}</span>
          {{task.title| slice:0:50}}
        </a>
      </li>
    </ul>
  </div>
</div>

