<div class="marginLeft">

    <mat-chip-list *ngFor="let msg of pTags" aria-label="Fish selection">
      <mat-chip (click)="showTasksByTag(msg.name)">{{msg.name}} </mat-chip>
    </mat-chip-list>

  <br>
  <mat-divider></mat-divider>

  <div>
    <p>
      <label>Show tasks by tag:
        <input #inboxMsg size="50" minlength="2" maxlength="50"/>
      </label>
      <button mat-button color="primary" (click)="showTag(inboxMsg.value); inboxMsg.value=''">
        Show!
      </button>
    </p>

    <mat-divider></mat-divider>

    <ul class="inbox">
      <li *ngFor="let msg of tasksByTag">
        <a routerLink="/tasks/{{msg.id}}">
          <span class="badge">{{msg.id}}</span>
          {{msg.title| slice:0:50}}
        </a>

      </li>
    </ul>
  </div>
</div>
