<h1>TAGS</h1>

<div class="marginLeft">
  <mat-divider></mat-divider>
  <div>
    <p>
      <label>Show tag:
        <input #inboxMsg size="50" minlength="2" maxlength="50"/>
      </label>
      <button mat-button color="primary" (click)="showTag(inboxMsg.value); inboxMsg.value=''">
        Show!
      </button>
    </p>
  </div>
  <mat-divider></mat-divider>
  <ul class="inbox">
    <li *ngFor="let msg of tasksByTag">
      <a routerLink="/tasks/{{msg.id}}">
        <span class="badge">{{msg.id}}</span>
        {{msg.title| slice:0:50}}
      </a>

    </li>
  </ul>
</div>
